.container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    border: 2px solid black;
}

.container>div{
    border: 2px solid black;
}
    
.start{
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.shrinkIt{
    transition: transform 0.15s, top 0.15s;
    transform: translate(-50%, -50%) scale(0.0);
}   

.winner{
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.15s, top 0.15s;
}
