.start{
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    justify-content: space-around;
}
#logo{
    height: 100px;
    width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    margin-left: 25%;
}
#player1,#player2{
   padding: 10px;
   font-size: 20px;
}
.start>button{
   padding: 10px;
   font-size: 26px;
}
.shrinkIt{
    transition: transform 0.15s, top 0.15s;
    transform: translate(-50%, -50%) scale(0.0);
} 
.result{
    font-size: 80px;
}  
.mainContainer{
    visibility: hidden;
}
.mainContainerShow{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
}
.container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
} 
.container>button{
    font-size: 50px;
}
.zero,.one,.two,.three,.four,.five,.six,.seven,.eight{
    border: 7px solid brown;
   background-color: white;
}
.zero,.one,.two{
    border-top: none;
}
.zero,.three,.six{
    border-left: none;
}
.two,.five,.eight{
    border-right: none;
}
.six,.seven,.eight{
    border-bottom: none;
}
.winner{
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.15s, top 0.15s;
}
.reclick{
    margin-top: 40px;
    font-size: 36px;
    padding: 10px 70px 10px 70px;
}
